.header {
    padding: 5px;
    text-align: center;
    background: #7635E8;
    color: white;
    font-size: 30px;
    font-family: 'vcr', serif;
}

.header2 {
    padding-right: 10px;
    font-family: 'vcr', serif;
    font-size: 20px;
}

.logo {
    width: 150px;
    padding: 5px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
    max-width: 400px;
}

.container {
    margin: 0 auto;
    display: flex;
}

.cart-text {
    font-size: 20px;
}

.zerarCarrinhoBtn {
    font-family: 'vcr', serif;
    color: #fff;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

.zerarCarrinhoBtn:hover {
    transform: scale(1.1);
}

.mat-toolbar-multiple-rows {
    width: 20%;
}

@font-face {
    font-family: 'vcr';
    src: url(/assets/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}

.mat-icon {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #ffffff;
}

.mat-flat-button {
    transition: 0.4s;
}

.mat-flat-button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}

.mat-toolbar-multiple-rows {
    background-color: #7635E8;
}

.mat-main-purple {
    background-color: #7635E8;
}

.mat-flat-button {
    background-color: #BC47FF;
    color: #ffffff;
}

.mat-button-wrapper {
    color: #ffffff;
}

.mat-badge-content {
    background-color: #BC47FF;
}

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }