<header>
    <nav class="header navbar navbar-expand-lg navbar-dark default-color">
        <div class="container">
            <a [routerLink]="'/'">
            <img src="assets/images/logo2.png" class="logo">
            </a>
        </div>
        <mat-toolbar color="warn">
            <mat-toolbar-row>
                <mat-icon [matBadge]="quantidade" matBadgeColor="primary">shopping_cart</mat-icon>
                <mat-icon [matBadge]="total" matBadgeColor="primary">attach_money</mat-icon>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span class="example-spacer"></span>
                <button mat-flat-button [color]="'primary'" (click)="zerarCarrinho()">Zerar Carrinho</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </nav>
</header>