.footer {
    padding: 5px;
    text-align: center;
    background: #7635E8;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-main-purple {
    background-color: #7635E8;
}

.logo {
    width: 150px;
    padding: 5px;
}

.flex {
	display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    
}

.flex-item-1 {
    flex: 1;
    max-width: 400px;
    
}