@font-face {
    font-family: 'vcr';
    src:  url(/assets/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}