<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img [src]="game.img" class="gameImg">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <p class="lead">
                        <span>R$ {{ game.price }}</span>
                    </p>

                    <h2 class="lead font-weight-bold">{{ game.title }}</h2>

                    <p>{{ game.descricao }}</p>

                    <mat-card-actions class="text-center">
                        <button (click)="minus(game)" class="btn btn-default btnAdd"> - </button>

                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="game.input" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <button class="btn btn-default btnAdd" (click)="plus(game)"> + </button>
                        <button class="cartButton btn btn-success" type="button" (click)="gameService.addCart(game)"
                            mat-button>Comprar
                        </button>
                    </mat-card-actions>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr *ngIf="gameService.similarGames.length > 0">

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn" *ngIf="gameService.similarGames.length > 0">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Veja também</h4>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4" *ngFor="let similar of gameService.similarGames">
                <a [routerLink]="'/game/' + similar.id">
                    <img [src]="similar.img" class="img-fluid align-center">
                </a>
                    <h2 class="lead font-weight-bold gameTitle">{{ similar.title }}</h2>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->