

.mat-card {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.d-flex {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-footer {
    background-color: transparent;
}

.btn-purple {
    background-color: #673ab7;
    color: #ffffff;
}