/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "vcr"; }

@font-face {
    font-family: 'vcr';
    src:  url(/assets/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}
