.logo {
    width: 150px;
    padding: 5px;
}

.main-headline {
    font-family: 'vcr';
    margin-top: 30px;
    padding: 10px;
}

.gameImg {
    height: 200;
    width: 300px;
    transition: all .2s ease-in-out;
    display: block;
    margin: 0 auto;
}

.gameImg:hover {
    transform: scale(1.05);
}

.gameTitle {
    text-align: center;
    font-family: 'vcr', serif;
    font-size: 20px;
}

.gamePrice {
    text-align: center;
    font-family: 'vcr', serif;
    font-size: 20px;
    display: inline
}

.cartButton {
    font-family: 'vcr', serif;
    color: #fff;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

.cartButton:hover {
    transform: scale(1.1);
}

.cart-input {
    background-color: #DADEE1;
    border-radius: 5px;
    font-family: 'vcr', serif;
    color: #000000;
    font-size: 20px;
    transition: all .2s ease-in-out;
    width: 50px;
    text-align: center;
}

.example-card {
    max-width: 400px;
}

.mat-card-header-text {
    margin: 0;
}

.lista-jogos {
    padding: 1rem;
}

.btnAdd {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 50px;
}

.mat-form-field {
    text-align: center;
    width: 50px;
    font-family: 'vcr', serif;
}

a:link {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

